// ============================================================================
// Helper: Layout
// ============================================================================


// Floats
// ----------------------------------------------------------------------------

.h-l-fl {
  float: left;
}

.h-r-fl {
  float: right;
}


// Text alignment
// ----------------------------------------------------------------------------

.h-l-align {
  text-align: left;
}

.h-r-align {
  text-align: right;
}

.h-c-align {
  text-align: center;
}
