// ============================================================================
// Helper: Spacing
// ============================================================================


// Margins
// --------------------------------------------------------------------------

@each $size-id, $size-value in $metrics-block-size {

  // All sides
  .h-m-#{$size-id} {
    margin: $size-value !important;
  }

  // Top margin
  .h-t-m-#{$size-id} {
    margin-top: $size-value !important;
  }

  // Right margin
  .h-r-m-#{$size-id} {
    margin-right: $size-value !important;
  }

  // Bottom margin
  .h-b-m-#{$size-id} {
    margin-bottom: $size-value !important;
  }

  // Left margin
  .h-l-m-#{$size-id} {
    margin-left: $size-value !important;
  }

  // Top and bottom margin
  .h-v-m-#{$size-id} {
    margin-top: $size-value !important;
    margin-bottom: $size-value !important;
  }

  // Right and left margin
  .h-h-m-#{$size-id} {
    margin-right: $size-value !important;
    margin-left: $size-value !important;
  }

}

// Remove all margins
.h-no-m {
  margin: 0 !important;
}

// Remove top margin
.h-no-t-m {
  margin-top: 0 !important;
}

// Remove right margin
.h-no-r-m {
  margin-right: 0 !important;
}

// Remove bottom margin
.h-no-b-m {
  margin-bottom: 0 !important;
}

// Remove left margin
.h-no-l-m {
  margin-left: 0 !important;
}

// Remove top and bottom margin
.h-no-v-m {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

// Remove right and left margin
.h-no-h-m {
  margin-right: 0 !important;
  margin-left: 0 !important;
}


// Padding
// --------------------------------------------------------------------------

@each $size-id, $size-value in $metrics-block-size {

  // All sides
  .h-p-#{$size-id} {
    padding: $size-value !important;
  }

  // Top padding
  .h-t-p-#{$size-id} {
    padding-top: $size-value !important;
  }

  // Right padding
  .h-r-p-#{$size-id} {
    padding-right: $size-value !important;
  }

  // Bottom padding
  .h-b-p-#{$size-id} {
    padding-bottom: $size-value !important;
  }

  // Left padding
  .h-l-p-#{$size-id} {
    padding-left: $size-value !important;
  }

  // Top and bottom padding
  .h-v-p-#{$size-id} {
    padding-top: $size-value !important;
    padding-bottom: $size-value !important;
  }

  // Right and left padding
  .h-h-p-#{$size-id} {
    padding-left: $size-value !important;
    padding-right: $size-value !important;
  }

}

// Remove all padding
.h-no-p {
  padding: 0 !important;
}

// Remove top padding
.h-no-t-p {
  padding-top: 0 !important;
}

// Remove right padding
.h-no-r-p {
  padding-right: 0 !important;
}

// Remove bottom padding
.h-no-b-p {
  padding-bottom: 0 !important;
}

// Remove left padding
.h-no-l-p {
  padding-left: 0 !important;
}

// Remove top and bottom padding
.h-no-v-p {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

// Remove right and left padding
.h-no-h-p {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
