// ============================================================================
// Helper: Spacing
// ============================================================================


@each $size-id, $size-value in $metrics-block-size {


  // Margins
  // --------------------------------------------------------------------------

  // All sides
  .h-m-#{$size-id} {
    margin: $size-value !important;
  }

  // Top margin
  .h-t-m-#{$size-id} {
    margin-top: $size-value !important;
  }

  // Right margin
  .h-r-m-#{$size-id} {
    margin-right: $size-value !important;
  }

  // Bottom margin
  .h-b-m-#{$size-id} {
    margin-bottom: $size-value !important;
  }

  // Left margin
  .h-l-m-#{$size-id} {
    margin-left: $size-value !important;
  }

  // Top and bottom margin
  .h-v-m-#{$size-id} {
    margin-top: $size-value !important;
    margin-bottom: $size-value !important;
  }

  // Left and right margin
  .h-h-m-#{$size-id} {
    margin-left: $size-value !important;
    margin-right: $size-value !important;
  }


  // Padding
  // --------------------------------------------------------------------------

  // All sides
  .h-p-#{$size-id} {
    padding: $size-value !important;
  }

  // Top padding
  .h-t-p-#{$size-id} {
    padding-top: $size-value !important;
  }

  // Right padding
  .h-r-p-#{$size-id} {
    padding-right: $size-value !important;
  }

  // Bottom padding
  .h-b-p-#{$size-id} {
    padding-bottom: $size-value !important;
  }

  // Left padding
  .h-l-p-#{$size-id} {
    padding-left: $size-value !important;
  }

  // Top and bottom padding
  .h-v-p-#{$size-id} {
    padding-top: $size-value !important;
    padding-bottom: $size-value !important;
  }

  // Left and right padding
  .h-h-p-#{$size-id} {
    padding-left: $size-value !important;
    padding-right: $size-value !important;
  }

}
