// ============================================================================
// Font settings
// ============================================================================

$font-stack-standard: Arial, Helvetica, Verdana, sans-serif;

$font-size: (
   xs: 11px,
    s: 12px,
    m: 14px,
    l: 16px,
   xl: 22px,
  xxl: 36px
);

$font-line-height: (
  xs: 1,
   s: 1.2,
   m: 1.4,
   l: 1.6,
  xl: 2
)
