// ============================================================================
// Settings: Media queries
// ============================================================================

$breakpoint-widescreens-min:  1441px;
$breakpoint-desktops-max:     $breakpoint-widescreens-min - 1px;
$breakpoint-desktops-min:     1151px;
$breakpoint-notebooks-max:    $breakpoint-desktops-min - 1px;
$breakpoint-notebooks-min:    901px;
$breakpoint-tablets-max:      $breakpoint-notebooks-min - 1px;
$breakpoint-tablets-min:      701px;
$breakpoint-phablets-max:     $breakpoint-tablets-min - 1px;
$breakpoint-phablets-min:     481px;
$breakpoint-phones-max:       $breakpoint-phablets-min - 1px;
