// ============================================================================
// Media query settings
// ============================================================================

$breackpoint-widescreens-min:  1441px;
$breackpoint-desktops-max:     $breackpoint-widescreens-min - 1px;
$breackpoint-desktops-min:     1151px;
$breackpoint-notebooks-max:    $breackpoint-desktops-min - 1px;
$breackpoint-notebooks-min:    901px;
$breackpoint-tablets-max:      $breackpoint-notebooks-min - 1px;
$breackpoint-tablets-min:      701px;
$breackpoint-phablets-max:     $breackpoint-tablets-min - 1px;
$breackpoint-phablets-min:     481px;
$breackpoint-phones-max:       $breackpoint-phablets-min - 1px;
