// ============================================================================
// Metrics
// ============================================================================

$metrics-block-size: (
   xs: 5px,
    s: 10px,
    m: 15px,
    l: 30px,
   xl: 50px,
  xxl: 75px
);

$metrics-radius: (
    s: 2px,
    m: 4px,
    l: 8px,
   xl: 12px
)
